@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

$policeSizeTitle1: 3rem !default;
$policeSizeTitle2: 2rem !default;
$policeSizeDefault: 1rem !default;
$fontFamily : 'Courgette', cursive !default;

body{
    width: 100%;
    height: 100%;
    background-color: indianred;
}

h1, h2, p{
    font-family: $fontFamily;
    margin: 0 1%;
}

h1{
    margin-top: 4%;
}

p{
    font-size: $policeSizeDefault;
}

#page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

img{
  min-width: 20vw;
  min-height: 10vh;
  margin-top: 4%;
}

