#infosArtiste{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#resultsPage{
  min-width: 80%;
  max-width: 90%;
  min-height: 100%;
  border-radius: 5px;
  background: darken(indianred, 5%);
  padding: 2%;
  box-sizing: border-box;
}

table{
  width: 100%;
  height: 100%;
}

thead{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.btn{
  margin-right: 2%;
  padding: 15px 7%;
  border-radius: 2px;
  text-transform: uppercase;
}

tr td{
  font-size: 1.1rem;
  padding-top: 1%;
}

#goHome{
  margin: 2%;
}
