$color: lighten(#fc9d03, 5%) !default;
$height: 5vh !default;

.searchbar{
    width: 40vw;
    margin-left: 1%;
    margin-top: 2%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: $height;

    form{
        width: 100%;
    }

}

.searchInput{
    border-radius: 0;
    border : none;
    box-sizing: border-box;
    text-align: center;
    min-width: 82%;
    height: $height;

}

.my-select{
    background-color: $color;
    border-radius: 5px 0px 0px 5px;
    height: $height;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.searchButton{
    background-color: $color;
    min-height: $height;
    box-sizing: border-box;
    padding: 1%;
    vertical-align: center;
  border-radius: 0 5px 5px 0;
}
