<template>
    <div id="page">
      <img src="../assets/logo.png" alt="logo">
      <h1 v-if="!rechercheEffectuee">
          Bienvenue sur
          Music search
      </h1>
      <h2 v-if="!rechercheEffectuee">
          Recherchez vos musiques grâce à l'api MusicBrainz
      </h2>
      <searchbar @rechercheAlbum="rechercheAlbum" @rechercheArtiste="rechercheArtiste" @rechercheSingle="rechercheSingle"></searchbar>
      <resultPage v-if="rechercheEffectuee" :data="getData" :typeRecherche="getType"></resultPage>
    </div>
</template>

<script>
import searchbar from "./SearchBar";
import resultPage from "./ResultPage";
export default {

    components: {searchbar, resultPage},
    data() {
        return {
          rechercheEffectuee: false,
          rechercheType: "",
          donnees: [],
        }
    },
  methods: {
      go404: function(){
        this.$router.push("/404");
      },
    /**
     * méthode qui gère la réception d'un événement rechercheAlbum du component searchbar
     * @param data les données résultants de la recherche
     */
      rechercheAlbum: function (data) {
        this.rechercheEffectuee = true;
        this.rechercheType = "album";
        if(typeof data === "undefined" || data.length <= 0){
          this.go404();
        }
        this.donnees = data;
      },
    /**
     * méthode qui gère la réception d'un événement rechercheArtiste du component searchbar
     * @param data les données résultants de la recherche
     */
      rechercheArtiste: function (data) {
        this.rechercheEffectuee = true;
        this.rechercheType = "artiste";
        if(typeof data === "undefined" || data.length <= 0){
          this.go404();
        }
        this.donnees = data;
      },
    /**
     * méthode qui gère la réception d'un événement rechercheSingle du component searchbar
     * @param data les données résultants de la recherche
     */
      rechercheSingle: function (data) {
        this.rechercheEffectuee = true;
        this.rechercheType = "single";
        if(typeof data === "undefined" || data.length <= 0){
          this.go404();
        }
        this.donnees = data;
      }
  },
  computed: {
      getData: function () {
        return this.donnees;
      },
      getType: function () {
        return this.rechercheType;
      }
  }
}
</script>

<style lang="scss">
    @import "../assets/style/scss/general";
</style>
