<template>
    <div id="infosArtiste">
      <h1>Liste des singles pour l'artiste {{getArtisteName}}</h1>
      <button id="goHome" class="btn btn-primary" @click="goHome">Retour à l'accueil</button>
      <div id="resultsPage">
        <div id="singles">
          <table class="table table-borderless">
            <thead>
            <tr>
              <th class="align-middle text-center" scope="col">Titre</th>
              <th class="align-middle text-center" scope="col">Durée</th>
              <th class="align-middle text-center" scope="col">Date de sortie</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="single in singles">
              <td class="align-middle text-center">{{single["title"]}}</td>
              <td class="align-middle text-center" v-if="single['length']">{{getDuree(single["length"])}}</td>
              <td class="align-middle text-center" v-else>Inconnue</td>
              <td class="align-middle text-center" v-if="single['releases'][0].date">
                {{single['releases'][0].date}}
              </td>
              <td class="align-middle text-center" v-else>Inconnue</td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>

</template>

<script>
  import axios from 'axios';

  export default {
    data() {
        return {
          singles: [],
          isErrored : false,
        }
    },
  methods: {
    getDuree: function (args) {
      if (!args/1000){
        return "Inconnue";
      }
      return  Math.floor((args/1000)/60) + " min " + ((args/1000)% 60) + " secondes";
    },
    goHome: function () {
      this.$router.push("/");
    }
  },
  computed:{
    getArtisteName: function () {
      return this.$route.params.artisteName;
    },
    getArtisteId: function () {
      return this.$route.params.artisteId;
    }
  },
  created() {
    axios({
      method: 'GET',
      url: "http://musicbrainz.org/ws/2/recording/?query=arid:" + this.getArtisteId + "%20AND%20primarytype:single&fmt=json",
    }).then((res) => {
      console.log(res.data);
      this.singles = res.data.recordings;
    }).catch((err) => {
      this.isErrored = true;
    })
  }
}
</script>

<style lang="scss" scoped>
    @import "../assets/style/scss/InfosArtiste";
</style>
