<template>
    <div id="resultsPage">

      <!-- affichage des résultats d'une recherche d'artiste -->
      <div id="artistes" v-if="isArtisteSearch">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="align-middle text-center" scope="col">Nom de l'artiste</th>
              <th class="align-middle text-center" scope="col">Sexe</th>
              <th class="align-middle text-center" scope="col">Pays</th>
              <th class="align-middle text-center" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="artiste in getDataArtists">
              <td class="align-middle text-center">{{artiste["name"]}}</td>
              <td class="align-middle text-center" v-if="artiste['gender']">{{genderToFrench(artiste["gender"])}}</td>
              <td class="align-middle text-center" v-else>Inconnu</td>
              <td class="align-middle text-center" v-if="artiste['country']">{{artiste["country"]}}</td>
              <td class="align-middle text-center" v-else>Inconnu</td>
              <td class="align-middle text-center">
                <button class="btn btn-primary" @click="voirSingles(artiste['id'], artiste['name'])">Voir les singles</button>
                <button class="btn btn-primary"  @click="voirAlbums(artiste['id'], artiste['name'])">Voir les albums</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
</template>

<script>

export default {
    props: ["data", "typeRecherche"],
    data() {
        return {
          isArtisteSearch: false,
        }
    },
  methods: {
    genderToFrench: function (gender) {
      let genre = "";
      switch (gender) {
        case "male":
          genre = "masculin";
          break;
        case "female":
          genre = "féminin";
          break;
        default:
          genre = "Inconnu";
      }
      return genre;
    },
    voirSingles: function (id, name) {
      this.$router.push({
        name: "singles",
        params:{
          artisteName: name,
          artisteId: id
        }})
    },
    voirAlbums: function (id, name) {
      this.$router.push({
        name: "albums",
        params:{
          artisteName: name,
          artisteId: id
        }})
    }
  },
  computed:{
      getDataArtists: function () {
        if(this.isArtisteSearch){
          return this.data["artists"];
        }
      }
  },
  created() {

      if(this.typeRecherche === "artiste"){
        this.isArtisteSearch = true;
      }
  }
}
</script>

<style lang="scss" scoped>
    @import "../assets/style/scss/Results";
</style>
