<template>
    <div id="infosArtiste">
      <h1>Liste des albums pour l'artiste {{getArtisteName}}</h1>
      <button id="goHome" class="btn btn-primary" @click="goHome">Retour à l'accueil</button>
      <div id="resultsPage">
        <div id="albums" v-if="!isErrored">
          <table class="table table-borderless">
            <thead>
            <tr>
              <th class="align-middle text-center" scope="col">Titre</th>
              <th class="align-middle text-center" scope="col">Nombre de chansons</th>
              <th class="align-middle text-center" scope="col">Date de sortie</th>
              <th class="align-middle text-center" scope="col">Pays</th>
              <th class="align-middle text-center" scope="col">Format</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="album in getAlbums">
              <td class="align-middle text-center">{{album["title"]}}</td>
              <td class="align-middle text-center" v-if="album['releases'][0]['track-count']">
                {{album['releases'][0]["track-count"]}}
              </td>
              <td class="align-middle text-center" v-else>Inconnu</td>
              <td class="align-middle text-center" v-if="album['releases'][0]['date']">
                {{album['releases'][0]["date"]}}
              </td>
              <td class="align-middle text-center" v-else>Inconnue</td>
              <td class="align-middle text-center" v-if="album['releases'][0]['country']">
                {{album['releases'][0]["country"]}}
              </td>
              <td class="align-middle text-center" v-else>Inconnu</td>
              <td class="align-middle text-center" v-if="album['releases'][0]['media'][0].format">
                {{album['releases'][0]["media"][0].format}}
              </td>
              <td class="align-middle text-center" v-else>Inconnu</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div v-else>
          <h3>Il y a eu une erreur, merci de réessayer plus tard.</h3>
        </div>


      </div>
    </div>

</template>

<script>
  import axios from 'axios';

  export default {
    data() {
        return {
          albums: [],
          isErrored : false,
        }
    },
  methods: {
    getDuree: function (args) {
      if (!args/1000){
        return "Inconnue";
      }
      return  Math.floor((args/1000)/60) + " min " + ((args/1000)% 60) + " secondes";
    },
    goHome: function () {
      this.$router.push("/");
    }
  },
  computed:{
    getArtisteName: function () {
      return this.$route.params.artisteName;
    },
    getArtisteId: function () {
      return this.$route.params.artisteId;
    },
    getAlbums: function () {
      return this.albums;
    }
  },
  created() {
    axios({
      method: 'GET',
      url: "http://musicbrainz.org/ws/2/recording/?query=arid:" + this.getArtisteId + "%20AND%20primarytype:album&fmt=json",
    }).then((res) => {
      this.albums = res.data.recordings;
      console.log("albums", this.albums)
    }).catch((err) => {
      this.isErrored = true;
    })
  }
}
</script>

<style lang="scss" scoped>
    @import "../assets/style/scss/InfosArtiste";
</style>
