<template>
    <div class="searchbar" @keyup.enter="rechercher">
        <form class="form-inline">
            <div class="option">
                <select name="typeSearch" id="typeSearch" class="my-select" v-model="typeRecherche">
                    <option value="artiste" selected>ARTISTE</option>
                    <option value="album">ALBUM</option>
                    <option value="single">SINGLE</option>
                </select>
            </div>

            <input type="text" name="search" id="search" placeholder="Recherche" class="searchInput" v-model="champRecherche">

            <a class="searchButton"  @click="rechercher"><i class="las la-search"></i></a>
        </form>
    </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
        return {
          champRecherche : "",
          typeRecherche : "artiste",
        }
    },
    methods:{
      /**
       * méthode rechercher qui gère la recherche en fonction du type
       * génère un événement avec les données reçues pour être traité dans un autre component
       */
      rechercher: function () {
        switch (this.typeRecherche) {
          //dans le cas où on fait une recherche sur un artiste
          case "artiste":
            axios.get("http://musicbrainz.org/ws/2/artist/?query=artist:" + this.champRecherche + "&fmt=json")
              .then((res) => {
                this.$emit("rechercheArtiste", res.data);
              })
              .catch((error) => {
                alert(error);
              });
            break;
          //dans le cas où on fait une recherche sur un album
          case "album":
            axios.get("http://musicbrainz.org/ws/2/release/?query=" + this.champRecherche + "&fmt=json")
              .then((res) => {
                this.$emit("rechercheAlbum", res.data);
              })
              .catch((error) => {
                alert(error);
              });
            break;
          //dans le cas où on fait une recherche sur un single
          case "single":
            axios.get("http://musicbrainz.org/ws/2/recording/?query=" + this.champRecherche + "&fmt=json")
              .then((res) => {
                this.$emit("rechercheSingle", res.data);
              })
              .catch((error) => {
                alert(error);
              });
            break;
        }
      },

    }
}
</script>

<style lang="scss" scoped>
    @import "../assets/style/scss/searchbar";
</style>
